dist
cabal-dev
result
TAGS
*.o
*.hi
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.virtualenv
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
.stack-work
*.prof
*.aux
*.hp
dev.db
shell.nix
clientsecret.txt
clientid.txt
sessionkey.txt
staticroot.txt
dev.db*
src/dev.db*
